[Desktop Entry]
Name=看影音
GenericName=本地视频媒体库与播放器
Comment=本地视频媒体库与播放器
Exec=kanyingyin
StartupWMClass=kanyingyin
Icon=com.kanyingyin.player
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Video;
